<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>First page</title>
</head>
<body>
    <div align="center">
        <h1>
            Link to first page!
        </h1>
        <form id="myform"
              th:action="@{__${T(com.learnenglish.vocabulary.util.MyMappings).SECOND}__}"
              action="checkredir"
              method="post">
            <input id="variable" type="text" name="variable"/>
            <input id="submit" type="submit" value="Submit"/>
        </form>
        <br>
        <br>
        <form id="game-form"
              th:action="@{someMapping}"
              method="post">
            <label for="submit2">submitToTest</label>
            <input id="submit2" type="submit" value="Submit"/>
        </form>
    </div>
</body>
</html>