<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headFragment}"></th:block>
    <meta charset="UTF-8">
    <title>Game Over</title>
</head>
<body>

<div align="center">

    <h1>You did it!</h1>
    <h2>
        <a id="homePage" th:href="@{${T(com.learnenglish.vocabulary.util.MyMappings).HOME}}">Link to the home page</a>
    </h2>
    <script>
        document.getElementById("homePage").focus();
    </script>

</div>

<div th:replace="~{fragments/header :: bodyNesetd}"></div>


</body>
</html>