<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/header :: headFragment}"></th:block>
    <meta charset="UTF-8">
    <title>The low term challenge</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <!--    <script src="jqueryfile.js"></script>-->
</head>
<body ng-app="myapp" ng-controller="myctrl">

<div align="center">

    <h1>Welcome to the low term challenge home page</h1>
    <h2>There you can choose what you want to learn</h2>

    <p th:with="vr=${__${T(com.learnenglish.vocabulary.util.AttributeNames).MESSAGE}__}"
       th:if="${vr}!=null" th:text="${vr}"></p>

    <input type="number" id="myInput" ng-model="tryings" name="myInput" onchange="countOfTryings(this)">

    <table border="1" cellpadding="5">
        <thead>
        <th>File Name</th>
        <th>Read This file</th>
        </thead>
        <tbody>
        <tr th:if="${filenames.isEmpty()}">
            <td colspan="2"> There no txt files</td>
        </tr>

        <tr ng-repeat="file in coll">
            <td><span>{{file}}</span></td>
            <td>
                <a name="toChallenge" href="/lowtermrealize?lowtfile={{file}}&countTr={{tryings}}">
                    Challenge file
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <script th:inline="javascript">
        var app = angular.module('myapp', []);
        app.controller('myctrl', function ($scope) {
            $scope.tryings = 4;
            $scope.coll = [[${filenames}]];
        });

    </script>
</div>

<div th:replace="~{fragments/header :: bodyNesetd}"></div>


</body>
</html>