<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>

<p>Hahaha</p>
<p>the second hahahaha</p>
<p>the second hahahaha</p>
<p>the second hahahaha</p>
<p>the second hahahaha</p>
<a id="ttt" href="google.com">some link</a>
<br/>
<a href="google.com">some lin1</a>
<br/>
<a href="google.com">some lin1</a>
<br/>
<a href="google.com">some lin1</a>
<br/>
<a href="google.com">some lin1</a>
<br/>
<a name="this name" href="google.com">cccccccc</a>
<br/>
<a name="this name" href="google.com">bbbbbbbb</a>
<br/>
<a name="this name" href="google.com">aaaaaaaaaa</a>
<br/>
<a name="this name" href="google.com">ddddddddddd</a>
<br/>
<a name="this name" href="google.com">eeeeeeeeeeeee</a>
<br/>
<a name="this name" href="google.com">sdfgdfgdfgdfgdfgdfg</a>
<br/>
<button onclick="oncl()" value="button1">button</button>

<br/>
<br/>
<br/>
<br/>
<br/>
<ul>
    <li id="foo">foo</li>
    <li id="bar">bar</li>
</ul>

<script>
    function oncl() {
        // $('p').hide();
        // alert($('a:first').href.toString());
        // alert($('#ttt').attr("href"));
        $('a[name="this name"]:eq(1)').hide();
        // alert( $( "li" ).get( 0 ). );
    }
</script>

</body>
</html>